{% extends "social_songs/base.html" %} {% block content %}
<br />
<a href="{%  url 'director_edit' pk=director.pk%}">Edit</a>
<div class="right">
<a href="{% url 'director_delete' pk=director.pk %}">Delete</a></div>

<h2 class="detail">Name: {{ director.name }}</h2>
<h4 class="detail">Nationality: {{ director.nationality }}</h4>
<h4 class="detail">Age: {{ director.age }}</h4>
<h4 class="detail">Films: {{director.films}}</h4>
<img src={{ director.photo_url }} />
<img src="{{director.thumb.url}}" />

{% endblock %}
